*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


.btn {
    background-color: hsl(200, 100%, 50%);
    border: none;
    outline: none;
    color: white;
    padding: .5em 1em;
    border-radius: .3em;
    cursor: pointer;
    position: relative;
}

.btn-load::after {
    content: 'loading';
    position: absolute;
    color: black;
    transform: translateY(200%);
    left: 0;
    bottom: 0;
    animation: loading 2s linear forwards;
}

@keyframes loading {

    0% {
        opacity: 1;
    }

    10% {
        content: "loading.";
    }

    20% {
        content: "loading..";
    }

    30% {
        content: "loading...";
    }

    40% {
        content: "loading....";
    }

    50% {
        content: "loading.....";
        opacity: .6;
    }

    60% {
        content: "loading....";
    }

    70% {
        content: "loading...";
    }

    80% {
        content: "loading..";
    }

    90% {
        content: "loading.";
    }

    100% {
        content: "loaded";
        opacity: 1;
    }
}